<%- include("partials/navbar") -%>

<section id="Dashboard">
    <div class="container details-section">
        <div class="table-responsive-md">
            <%- include ("./partials/messages") -%>
            <table class="table table-light table-hover table-striped">
                <thead class="thead-success">
                    <tr>
                        <th scope="col">Project ID</th>
                        <th>PR<%= dashboardProjectsData.id %> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Project Name</th>
                        <td><%= dashboardProjectsData.project_name %></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            <p><%= dashboardProjectsData.project_description %></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Manager</th>
                        <td><%= everyUsersName[dashboardProjectsData.manager_id] %></td>
                    </tr>
                    <tr>
                        <th>Developer</th>
                        <td><%= everyUsersName[dashboardProjectsData.developer_id] %></td>
                    </tr>
                    <tr>
                        <th>Tester</th>
                        <td><%= everyUsersName[dashboardProjectsData.tester_id] %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/dashboard/projects/PR<%= dashboardProjectsData.id %>/all_issues" class="issue-button">Issue Tracker</a>
                <a href="/dashboard/projects" class="issue-button">Back to All Projects</a>
            </div>
        </div>
    </div>
</section>