<%- include("header") -%>
<%- include("navbar") -%>

<section id="Dashboard">

	<div class="container content">
		<div class="table-responsive-md">
			<table class="table table-striped table-hover">
				<caption>Click on the tickets for more details.</caption>
				<thead class="thead-dark">
					<tr>
						<th scope="col">Tickets</th>
						<th scope="col">Status</th>
						<th scope="col">Project ID</th>
						<th scope="col">Priority</th>
						<th scope="col">Opened ON</th>
						<th scope="col">Closed ON</th>
					</tr>
				</thead>
				<tbody>
					<% for (var i = 0; i < dashboardAdminData.length; i++) { %>
					<tr>
						<th scope="row"><%= dashboardAdminData[i]["tickets"] %></th>
						<td><%= dashboardAdminData[i]["status"] %></td>
						<td><%= dashboardAdminData[i]["project_id"] %></td>
						<td><%= dashboardAdminData[i]["priority"] %></td>
						<td><%= date.getDate(dashboardAdminData[i]["opened_on"]) %></td>
						<td><%= date.getDate(dashboardAdminData[i]["closed_on"]) %></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>

</section>

<%- include("footer") -%>